<div class="container">
  <div class="form-group">
    <div>
    <%= form_for([ group, comment ], remote: true) do |f| %>
      <% if !current_user.photo.nil? %>
      <%= image_tag(current_user.photo) %>
      <% else %>
      <%=  %>
      <% end %>
      <%= f.text_area :content, as: :text, placeholder: "Write a comment", class: "form-control border-light" %>
      <%= f.button :submit %>
    <% end %>
    </div>
  </div>
</div>
