<div class="container">
  <div class="form-group">
    <div class="comment-row">
        <%= simple_form_for([ group, comment ], remote: true) do |f| %>
      <div class="comment-form">
        <% if !current_user.photo.nil? %>
        <%= image_tag(current_user.photo, class: "avatar-large") %>
        <% else %>
        <%= image_tag("profile_placeholder", class: "avatar-large") %>
        <% end %>

        <div class="comment-content">
            <%= f.text_area :content, as: :text, placeholder: "Write a comment", class: "form-control border-light" %>
        </div>

        <div class="form-btn">
          <%= f.button :submit, value: "Submit", method: :post %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
