<div class="container mt-3 mb-3">
  <div class="card-body card-<%= number %>">
    <div class="d-flex flex-row justify-content-between">
      <div class="text-center">
        <% if !comment.user.photo.nil? %>
        <%= link_to image_tag(comment.user.photo, class: "avatar-large"), user_path(comment.user) %>
        <% else %>
        <%= link_to image_tag("profile_placeholder", class: "avatar-large"), user_path(comment.user) %>
        <% end %>
        <% if !comment.user.name.nil? %>
        <p><%= comment.user.name %></p>
        <% else %>
        <p><em>Username</em></p>
        <% end %>
      </div>
      <p class="card-text"><small class="text-muted">
        <%= time_ago_in_words(comment.created_at) %> ago</small>
      </p>
    </div>
    <div><p><%= comment.content %></p></div>
    <div class="d-flex justify-content-end">
      <% counter = 1 %>
      <% if policy(comment).destroy? %>
        <%= link_to image_tag("trashbin", class: "delete-icon trsh-#{number}"), comment_path(comment), id: "delete-link", method: :delete, remote: true %>
        <% counter += 1 %>
        <% end %>
    </div>
  </div>
</div>
