<div class="container mt-3 mb-3">
  <div class="card border-light">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
        <div class="text-center">
          <% if !current_user.photo.nil? %>
          <%= image_tag(current_user.photo) %>
          <% else %>
          <%= image_tag("profile_placeholder", class: "avatar-large") %>
          <% end %>
          <% if !comment.user.name.nil? %>
          <p><%= comment.user.name %></p>
          <% else %>
          <p><em>Username</em></p>
          <% end %>
        </div>
        <p class="card-text"><small class="text-muted">
          <%= time_ago_in_words(comment.created_at) %> ago</small></p>
        <%= link_to "Delete", comment_path(comment), method: :delete %>
      </div>
      <div><p><%= comment.content %></p></div>
    </div>
  </div>
</div>
