<%= render "shared/navbar_dark" %>
<div class="container d-flex flex-column text-center" id="groups-container">
  <h1 class="cards">Meet other book lovers near</h1>
  <div class="search-section w-100 mx-auto">
    <%= render 'shared/search_bar', location: params[:format] %>
  </div>
  <div class="my-4">
    <div class="display-inline ml-5">
      <% @loc = "In #{@location}" %>
     <%= @location.present? ? @loc : "For all locations" %> there were <strong> <%= @groups.size %></strong> groups found!
    </div>
    <div class="container">
      <%= render 'shared/group_cards', groups: @groups %>
    </div>
  </div>
</div>
