<%= render "shared/navbar_dark" %>

<div class="container mb-5">
  <!-- Title -->
  <div class="pt-5 text-center top-show">
    <div class="position-back-btn">
      <div class="mt-0 mb-0">
        <%= link_to groups_path, class: "back-btn" , :action => 'go' do %>
        <div><i class="fas fa-arrow-left"></i></div>
        <% end %>
      </div>
      <h1 class="group-title"><%= @group.name %></h1>
    </div>
    <div>
      <p class="group-language"><%= @group.language.name %></p>
    </div>
  </div>

  <!-- Book -->
  <div class="d-flex flex-row ml-5 mt-2">
    <div class="img-responsive" width="200">
      <%= image_tag @group.book.photo, class: 'book-image' %>
    </div>
    <div class="pr-5 pl-5">
      <h2><%= @group.book.title.upcase %></h2>
      <p class="group-author"><%= @group.book.author.upcase %></p>
      <% if @group.tag_list.any? %>
        <%= render 'shared/tag', group: @group %>
      <% end %>
      <p style="word-spacing: 4px;"><%= @group.book.description %></p>
      <p class="group-author"><%= "Read more".upcase %></p>
    </div>
  </div>

  <!-- Host Message -->
  <!-- <div class="pl-5 pr-5 m-5"> -->
  <div class="host-box">
    <div class="img">
      <%= image_tag @group.user.photo, alt: "profile picture of host", class: "avatar-host" %>
    </div>
    <div class="message-move">
      <p class="group-creation"><%= @group.user.name %> founded this group <%= time_ago_in_words(@group.created_at) %> ago because: </p>
      <p class="mb-0"><%= @group.host_message %></p>
    </div>
  </div>

  <!-- Group/Participants & Join Button -->
  <div class="text-center">
    <!-- Membership Number -->
    <p><%= @group.memberships.count + 1 %> / <%= @group.max_members %> Members</p>
    <!-- Membership Avatars -->
    <div class="avatar-alignment">
      <!-- Host -->
      <%= link_to user_path(id: @group.user.id), class:"member-name" do %>
      <div class="img">
        <%= image_tag @group.user.photo, alt: "profile picture of host", class: "avatar-group" %>
      </div>
        <p class="no-margin-bottom"><%= @group.user.name %></p>
        <p class="host">Host</p>
      <% end %>
      <!-- Other members -->
      <% @group.memberships.each do |member| %>
        <% if member.user.name %>
            <%= link_to user_path(id: member.user.id), class:"member-name" do %>
              <%= image_tag member.user.photo, alt: "profile picture of user", class: "avatar-group" %>
              <p><%= member.user.name %></p>
            <% end %>
        <% else %>
          <%= link_to user_path(id: member.user.id), class:"member-name" do%>
              <%= image_tag src="http://litreactor.com/sites/default/files/images/column/2013/05/mirror-spock.jpg", alt: "profile picture of user", class: "avatar-group" %>
              <p>Spock</p>
          <% end %>
        <% end %>
      <% end %>
    <!-- Join/Add Buttons -->
      <div class="member-name">
        <!-- Add Friend -->
        <% if (@group.memberships.find_by(user_id: current_user.id) || (@group.user_id == current_user.id)) && (@group.memberships.count + 1 < @group.max_members) %>
            <div class="img">
              <p class="add-button avatar-group">+</p>
            </div>
            <p class="no-margin-bottom">Add friend</p>
        <!-- Join -->
        <% elsif !@group.memberships.find_by(user_id: current_user.id) && (@group.memberships.count + 1 < @group.max_members) && !(@group.user_id == current_user.id) %>
            <%= link_to memberships_path(id: @group.id), class:"member-name", method: :post do %>
            <div class="img">
              <p class="join-button avatar-group">+</p>
            </div>
            <p class="no-margin-bottom">Join Group</p>
          <% end %>
        <% else %>
            <div class="img">
              <p class="add-button avatar-group">+</p>
            </div>
            <p class="no-margin-bottom">Join waiting list</p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Info -->
  <div class="alignment">
    <div class="info-spacing">
      <h2 class="info-top"><%= @group.date.strftime("%a").upcase %>, <%= @group.date.strftime("%b %d").upcase %></h2>
      <h2 class="info"><%= @group.date.strftime("%H:%M").upcase %></h2>
      <h2 class="info-bottom"><%= @group.location_name %></h2>
      <p class="info-address"><%= @group.location %></p>
    </div>
    <div
    id="map"
    style="width: 70%;
    height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <!-- Comment Function -->
  <% if @group.memberships.find_by(user_id: current_user.id) && @group.memberships.count + 1 < @group.max_members %>

    <%= render 'comments/form', group: @group, comment: @comment %>

  <% end %>

  <div id="comments">
    <% if @group.memberships.find_by(user_id: current_user.id) && @group.memberships.count + 1 < @group.max_members %>
      <% @group.comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
      <% end %>
    <% end %>
  </div>

  <!-- Leave Button -->
  <div class="abcwtf">
    <% if @group.memberships.find_by(user_id: current_user.id) %>
      <%= link_to membership_path(id: @group.id), class:"leave-button", method: :delete do %>
        <p>Leave Group</p>
      <% end %>
    <% end %>
  </div>
</div>
