<h1><%= @group.name %></h1>
<p><%= @group.language.name %></p>
<h2>Title: <%= @group.book.title %></h2>
<p>Author: <%= @group.book.author %></p>
<p>Description: <%= @group.book.description %></p>
<p>Host message: <%= @group.host_message %></p>

