<div class="dashboard_and_account">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Account</a>
  </li>

</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div>
      <p>You are currently reading...</p>
      <% @memberships.each do |membership| %>
        <%= link_to (image_tag membership.group.book.photo, width: '180px'), group_path(id: membership.group.id) %>
        <%#= membership.group.book.date %>
        <!-- also shows  - bookgroup name
                    - date to meet
                    - new post, if available
                    - badge -->
      <% end %>


    </div>
  </div>


  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="user-profile">
   <%= image_tag "ray-berry-rounded.png", alt: "profile picture of user", width: '170px', height: '170px'%>
    <div class="profile-heading">
      <h1> <%= @user.name %></h1>
      <span> Member since <%= @user.created_at.year %></span>
    </div>

    <div class="user-bio">
      <p> "<%= @user.bio %>" </p>
    </div>
  </div>
</div>


</div>






