<div class="dashboard_and_account">

  <!-- Shows Dashboard and Account tabs -->
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Books</a>
    </li>
    <li>
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Account</a>
    </li>
  </ul>


  <!-- Dashboard -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div>
        <div class ="title-mybooks">You are currently reading...</div>
        <div class="reading-card-box">
          <%= render "shared/current_readings_card" %>
        </div>
        <div class ="title-mybooks">You are hosting...</div>
        <div class="reading-card-box">
          <%= render "shared/host_readings_card" %>
        </div>
      </div>
    </div>

    <!-- Account -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="user-profile">

      <div class="my-account-top">
        <div class="profile-heading", class="my-account-top-left">
          <% if !@user.photo.nil? %>
          <%= image_tag @user.photo, alt: "profile picture of user", class: "avatar-profile-private"%>
          <% else %>
          <%= image_tag ("profile_placeholder"), alt: "profile picture of user", class: "avatar-profile-private" %>
          <% end %>
          <p class="fake-button">edit image</p>
        </div>
        <div class="my-account-top-right">
          <p class="display-line"><%= @user.name %></p>
          <p class="display-line"><%= @user.email %></p>
          <p class="display-line">My Password</p>
          <p class="fake-button">update information</p>
        </div>
      </div>
      <div class="my-account-bottom">
        <!-- <p class="user-bio"> "<%= @user.bio %>" </p> -->
        <p class="user-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, modi sed quia labore expedita dolores. Maxime sed placeat dolores, quia praesentium labore rerum illo, illum impedit, sunt amet dolorem alias.</p>
        <p class="fake-button">update bio</p>
      </div>
    </div>
  </div>








