<%= render "shared/navbar_dark" %>

<div class="user-profile">
  <% if !@user.photo.nil? %>
  <%= image_tag @user.photo, alt: "profile picture of user", class: "avatar-profile"%>
  <% else %>
  <%= image_tag ("profile_placeholder"), alt: "profile picture of user", class: "avatar-profile" %>
  <% end %>
  <div class="profile-heading">
    <h1> <%= @user.name %></h1>
    <span> Member since <%= @user.created_at.year %></span>

<% if current_user == @user %>
<%= render "current_user_show" %>
<% else %>
<div class="profile-con">
  <div class="user-profile">
    <div class="user-profile">
      <%= image_tag @user.photo, alt: "profile picture of user", class: "avatar-profile"%>
      <div class="profile-heading">
        <h1> <%= @user.name %></h1>
        <span> Member since <%= @user.created_at.year %></span>
      </div>
    </div>
  </div>

  <div class="user-bio">
    <p> "<%= @user.bio %>" </p>
  </div>

  <div class="reading">

    <h2 class="reading-title"> <%= @user.name %> is currently reading...</h2>
  <div>
    <%= render "shared/current_readings_card" %>
  </div>
  </div>
</div>
<% end %>
