<div class="container">
 <%= image_tag "ray-berry-rounded.png", alt: "profile picture of user", width: '170px', height: '170px'%>
  <div class="profile-heading">
    <h1> <%= @user.name %></h1>
    <span> Member since XX </span>
  </div>

  <div class="user-bio">
    <p> "<%= @user.bio %>" </p>
  </div>

  <div class="reading-history">
  <h2> <%= @user.name %>'s reading history</h2>
    <%= image_tag "handmaids_tale_cover.jpg", alt: "book cover handmaid's tale", width: '180px' %>
    <%= image_tag "little_prince_cover.jpg", alt: "book cover little prince", width: '180px' %>
    <%= image_tag "shining-cover.jpg", alt: "book cover shining", width: '180px' %>
  </div>
</div>

