<div class="row">
  <% @groups.each do |g| %>
  <div class="col-md-4" id="card-item">
    <%= image_tag "bookcover.jpg", class: 'book-image' %>
    <div class="detail">
      <p class="title"><strong><%= g.name %></strong></p>
      <p class="title">are meeting on</p>
      <p class="date"><%= g.date.strftime("%a")%>, <%= g.date.strftime("%b %d")%>
      <p class="date"><%= g.date.strftime("%H:%M") %></p>
      <p class="location"><%= g.location.split(",").first.capitalize %></p>
      <p class="location"><%= g.location.split(",")[1..-1].join %></p>
      </div>
    </div>
    <% end %>
  </div>
