<div class="row">
  <% @groups.each do |g| %>
  <%#= link_to group_path, :action => 'go' do %>
  <div class="col-xs-12 col-md-3 col-lg-4" id="card-item">
    <% if g.book.photo.present? %>
     <%= image_tag g.book.photo, class: 'book-image' %>
    <% else %>
     <%= image_tag "bookcover.jpg", class: 'book-image' %>
    <% end %>
    <div class="detail">
      <p class="title"><strong><%= g.name %></strong></p>
      <p class="title mb-4">are meeting on</p>
      <p class="date"><%= g.date.strftime("%a")%>, <%= g.date.strftime("%b %d")%>
      <p class="date"><%= g.date.strftime("%H:%M") %></p>
      <p class="location mt-4"><%= g.location.split(",").first.capitalize %></p>
      <p class="address"><%= g.location.split(",")[1..-1].join %></p>
      </div>
    </div>
    <% end %>
  </div>
