<div class="d-flex flex-row col-md-4", style="width:400;">
  <% @groups.each do |g| %>
    <div>
      <%= image_tag "bookcover.jpg", width: 150 %>
    </div>
    <div class="d-flex flex-column text-left pl-3">
        <p><%= g.name %></p>
        <p>are meeting on</p>
        <p><%= g.date.strftime("%a")%>, <%= g.date.strftime("%b %d")%>
        <p><%= g.date.strftime("%H:%M") %></p>
        <p><%= g.location.split(",").first %></p>
        <p><%= g.location.split(",")[1..-1].join %></p>
    </div>
  <% end %>
</div>
