<div class="whole-form">
  <form action="/groups" method="post" class="createform-container">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="top-section">

<!-- Top Part - Book Details -->
      <h2 class="question">Which book would you like to read?</h2>
      <select name="book[title]" class="select2" id="book-request">
        <% Book.all.each do |book| %>
          <option value="<%= book.title %>"><%= book.title %></option>
        <% end %>
      </select>
      <p class="line-bottom"></p>
    </div>

    <div class="book-details">
      <div class="book-description">

        <div class="author-form">

        </div>

        <br/>

        <div class="book-form-desc">

        </div>

        <br/>

        <div class="book-form-tags hidden">
           <select name="group[tags]" class="select2" id="tag-request">
            <% ActsAsTaggableOn::Tag.all.each do |tag| %>
              <option value="<%= tag.name %>"><%= tag.name.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-image">
      </div>
      <input type="hidden" name="book[photo]" id="photo-form">
    </div>


<!-- Bottom Part - Group Details -->
    <div class="form-bottom-parent">
      <div class="form-bottom">
        <h2>Tell us more about the group!</h2>

<!-- Group Name -->
        <div id="group-name">
          <label class="label-field"for="name">Give your group a name</label>
          <input type="text" name="group[name]" id="#" class="input-field" placeholder="  Give it a funny name!">
        </div>

<!-- Host Message -->
        <div id="host_message">
          <label class="label-field" for="host_message">Why do you want to read this book?</label>
          <input type="text" name="group[host_message]" id="#" class="input-field">
        </div>

<!-- Language of Meeting -->
        <div id="language-select">
          <label class="label-field" for="language-request">In which language will you discuss the book?</label>

          <select name="language[name]" class="select2" id="language-request">
            <% Language.all.each do |language| %>
              <option value="<%= language.name %>"><%= language.name.capitalize %></option>
            <% end %>
          </select>
        </div>

<!-- Location of Groupmeeting -->
        <div class="eventlocation-parent">
          <div id="label-field-location">
            <p class="label-field-">Where do you want to meet?</p>
          </div>
          <div class="eventlocation">
            <div>
              <label for="location_name">Name of Location </label>
              <input class="input-field" type="text" name="group[location_name]">
            </div>
            <div>
              <label for="location_name">Address of Location </label>
              <input class="input-field" type="text" name="group[location]" id="new-group-location-name">
            </div>
          </div>
        </div>

<!-- Date and Time of Groupmeeting -->
        <div class="eventtime-parent">
          <div id="label-field-time">
            <p class="label-field">When do you want to meet?</p>
          </div>
          <div class="eventtime">
            <div>
              <label class="label-field" for="date">Date</label>
              <input type="date" class="datepicker" name="group[date]">
            </div>
            <div>
              <label class="label-field" for="time">Time</label>
              <input type="time" class="timepicker" name="group[time]">
            </div>
          </div>
        </div>

<!-- Possible Amount of Members -->
        <div id="members">
          <label class="label-field" for="max_members">How many people can join? </label>
          <input type="number" name="group[max_members]" id="#" class="input-field">
        </div>
        <br/>

        <input class="btn-flat-create-group" type="submit" value="Create this group!">
      </div>
    </div>
  </form>
</div>
