<div class="container my-3 py-3">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="card my-3">
    <h1>Groups</h1>
    <% @groups.each do |group| %>
      <h2> <%= group.name %> </h2>
    <% end %>
  </div>
  <div class="card my-3">
  <% @books.each do |book| %>
    <p> Booktitle: <%= book.title %> </p>
    <p> BookDescription: <%= book.description %> </p>
    <p> BookAuthor: <%= book.author %> </p>
  <% end %>
</div>
<div class="card my-3">
  <% @languages.each do |language| %>
    <p> GroupLanguage: <%= language.name %> </p>
  <% end %>
</div>
<div class="card my-3">
  <% @memberships.each do |membership| %>
    <p> Membership: <%= membership.group.name %>=><%= membership.user.name %> </p>
  <% end %>
</div>
<div class="card my-3">
  <% @users.each do |user| %>
    <p> Username: <%= user.name %></p>
    <p> Useremail: <%= user.email %></p>
    <p> UserBio: <%= user.bio %></p>
  <% end %>
</div>
<div class="card my-3">
  <% @comments.each do |comment| %>
    <p> Comment: <%= comment.content %> </p>
  <% end %>
  </div>
</div>
