<div class="container py-3">
  <h1>Search Your Group by Location</h1>
  <div class="card px-5 py-2">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group row">
        <%= text_field_tag :query, params[:query], class: "form-control col-lg-11 col-sm-12", placeholder: "Where do you want to meet?" %>
       <!--  <input class="form-control string required col-lg-11 col-sm-12" type="text" name="search[query]" id="search_query" /> -->
        <button name="button" type="submit" class="btn btn-flat col-lg-1 col-sm-12">
          <i class="fas fa-search"></i>GO!
        </button>
        <div class="d-flex justify-content-center my-4">
        <span class="font-weight-bold purple-text mr-2 mt-1">0</span>
        <form class="range-field w-75", remote="true">
          <input class="border-0 custom-range" type="range" min="0" max="100" />
        </form>
        <span class="font-weight-bold purple-text ml-2 mt-1">100</span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card my-3">
    <h2>Search Results</h2>
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="groups">
        <% if @groups.any? %>
          <% @groups.each do |group| %>
            <h4><%= group.name %></h4>
            <p><%= group.host_message %></p>
            <p>Location: <%= group.location %> </p>
          <% end %>
        <% else %>
          <h4>No Results found</h4>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
